[Config]

Personal.FirstName:
Personal.LastName:

# Register at http://products.wolframalpha.com/api/
WolframAlpha.AppID:

# Example Weather.City value: "Accident, Maryland, USA"
Weather.City:
# Weather.Units must be metric (C) or imperial (F)
Weather.Units:
