Personal.FirstName = ''
Personal.LastName = ''

WolframAlpha.AppID = '' # Register at http://products.wolframalpha.com/api/

Weather.City = '' # Example: "Accident, Maryland, USA"
Weather.Units = '' # Metric (C) or Imperial (F)
